body {
    background: rgb(50, 50, 99);
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(76, 76, 122);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
button:hover {
    background-color: rgb(212, 212, 242);
    color: black;
}

.button:active {
  background-color: rgb(212, 212, 242);;
  box-shadow: 0 5px #373131;
  transform: translateY(4px);
}