/* ----------------- PAGES ----------------- */
.start {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 50px;
  transform: translate(-50%, -50%);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}
.page-title {
  font-size: 50px;
  color: rgb(200, 90, 193);
  font-weight: bold;
}
.link-cntr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a, a:active, a:visited {
  color: rgb(223, 182, 229);
  font-size: 30px;
  display: flex;
  text-align: center;
  padding: 7px;
  margin: 5px;
}
a:hover {
  color: hotpink;
}


/* ----------------- LEVELS ----------------- */
body {
  background: rgb(50, 50, 99);
  max-width: 50%;
}

button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0 9px rgb(20, 20, 70);
}

.nt {
  color: rgb(20, 20, 70);
  margin-bottom: 10px;
}

button.selected {
  outline: 2px solid rgb(210, 210, 229);
  transform: translateY(4px);
  box-shadow: none;
}
